@import '~bootstrap/scss/bootstrap';

input {
  clear: both;
  float: left;
  margin: 7px;
  padding: 5px;
}

.auth-container {
  align-items: center;
  display: block;
  margin-left: 30%;
  margin-top: 10%;
  top: 200px;
  width: 40%;
}

.box {
  border: 1px solid black;
  font-size: 125px;
  height: 200px;
  padding-left: 30px;
  width: 200px;
}

.sign-up-container {
  align-items: center;
  display: block;
  margin-left: 30%;
  top: 200px;
  width: 40%;
}

.sign-in-container {
  align-items: center;
  display: block;
  margin-left: 30%;
  margin-top: 10%;
  top: 200px;
  width: 40%;
}

.hidden {
  display: none;
}

.message {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
}

.subtitle {
  font-style: italic;
  margin-left: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.title {
  text-align: center;
}

.your-turn {
  font-weight: bold;
}


#title-game-board {
  text-align: center;
}

#sign-up-alert-container {
  display: none;
}

#sign-up-success-container {
  display: none;
}

#sign-in-success-container {
  display: none;
}

@media only screen and (max-width: 750px) {
  .box {
    font-size: 30px;
  }
}
