@import '~bootstrap/scss/bootstrap';

* {
  background-color: #8E7CC3;

}

.page-div {
  display: static;

}

.box {
  border: 1px solid white;
}

#game-board {
  display: flex;
  height: 600;
  position: static;
  width: 600;
}

.square {
  width: 50vh;
  height: 50vh;
}
