@import '~bootstrap/scss/bootstrap';

// * {
//   background-color: #8E7CC3;
// }
//
// .page-div {
//   display: static;
// }

.box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  font-size: 125px;
  padding-left: 30px;
}

input {
  padding: 5px;
  margin: 7px;
  clear: both;
  float: left;
}

#game-board {
  // display: flex;
  height: 50vh;
  position: static;
  width: 50%;
  display: none;
  margin-left: 30%;
  align-items: center;
  margin-top: 10%;
}

.hidden {
  display: none;
}

.title {
  text-align: center;
}
.subtitle {
  text-align: center;
  margin-left: 5px;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sign-up-alert-container {
  display: none;
}

#sign-up-success-container {
  display: none;
}

#sign-in-success-container {
  display: none;
}

.auth-container {
  display: block;
  width: 40%;
  margin-left: 30%;
  align-items: center;
  margin-top: 10%;
  // padding-top: 20%;
  // padding-left: 45%;
  // padding-right: 10%;

  // background-color: #f5f5f5;
  top: 200px;
  // text-align: center;
  // margin: auto;
}

.message {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .box {
    font-size: 30px;
  }
}
